.login-modal {
  width: 50%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-modal div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.login-modal div:nth-child(1) {
  display: flex;
  justify-content: end;
  width: 100%;
}

.login-modal div:nth-child(3),
.login-modal div:nth-child(4) {
  margin: 6px auto;
}

.login-modal div:nth-child(5) {
  display: flex;
  justify-content: center;
  margin: 12px auto;
}

.header {
  font-size: 32px;
  font-weight: 800;
  margin: 24px;
}
