.navbar {
  height: 4rem;
  background-color: #ffcd6b;
  width: 100vw;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  margin: 0 1rem;
  width: 10rem;
}
.navbar a {
  color: black;
  text-decoration: none;
  transition: border 0.1s;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: black;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid black;
}
