.bg-lt-orange {
  background-color: #fcffd6;
}

.bg-lt-yellow {
  background-color: #fff1d6;
}

.row {
  font-size: 14px;
  font-weight: 300;
}

.completed {
  color: #1e7400;
}

.pending {
  color: #0500ff;
}
